.about-gallery {
  padding-bottom: 8rem;

  @include mobile {
    padding-bottom: 3.2rem;
  }

  .line {}

  &__slider {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 8rem;
    overflow: hidden;

    @include mobile {
      margin-left: -1.6rem;
      margin-right: -1.6rem;
      padding-top: 3.2rem;
    }
  }

  .swiper-slide {
    height: auto;
  }
}

.about-g {

  &__item {
    height: 100%;
    padding: 2.4rem;
    background: var(--white-color);
    box-shadow: 0rem 0rem 1.8rem 0px rgba(4, 0, 48, 0.18);

    @include mobile {
      padding: 2rem;
    }
  }

  &__image {
    margin-bottom: 2.4rem;
    height: 32.8rem;

    @include mobile {
      height: 22.4rem;
    }

    img {
      height: 100%;
    }
  }

  &__text {
    margin: 0;
    color: #000;
    font-family: 'Noto Sans';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.016rem;

    span {
      font-weight: 700;
    }
  }
}