.about-hero {
  &__title {}

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 6rem 0 8rem;
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
      align-items: flex-start;
      gap: 2.4rem;
      padding-bottom: 3.2rem;
      padding-top: 3.2rem;
    }
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      box-shadow: 0px 2px 10px 12px #FFF inset;
    }

    @include mobile {
      height: 31.1rem;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__content {
    padding: 3.2rem;

    &>p {
      margin: 0;
      color: var(--black-color);
      font-family: 'Noto Sans JP';
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.02rem;


      @include mobile {
        text-align: justify;
        font-family: 'Noto Sans JP';
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.016rem;
      }
    }

    @include mobile {
      padding: 2.4rem;
    }
  }
}