.header {
  display: flex;
  width: 100%;



  &__col {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include mobile {
      display: none;
    }
  }

  &__row {
    display: flex;
    flex: 1;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.24);
    height: 8rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.2rem 7.1rem;
    color: var(--white-color);
    font-family: 'Russo One';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.24);
    position: relative;
    overflow: hidden;

    svg {
      position: relative;
      z-index: 5;
      height: 8.8rem;
      width: 15.3rem;
      fill: var(--white-color);
      transition: fill .3s ease-out;

      .path-bl {
        transition: fill .3s ease-out;
        fill: var(--black-color);
      }

      .path-wh {
        transition: fill .3s ease-out;
        fill: var(--white-color);
      }

      .path-blue {
        transition: fill .3s ease-out;
        fill: var(--blue-color);
      }

      @include mobile {
        height: 2.5rem;
        width: 9.7rem;

      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      background-color: var(--white-color);
      transform: translateY(110%);
      transition: transform .3s ease-out;
    }

    @include hover {
      &::after {
        transform: translateY(0);
      }

      svg {
        fill: var(--blue-color);

        .path-bl {
          fill: var(--white-color);
        }

        .path-wh {
          fill: var(--black-color);
        }

        .path-blue {
          fill: var(--blue-color);
        }

      }
    }

    @include mobile {
      flex: 1;
      padding: 2.1rem 3.2rem;
      font-size: 2rem;
    }
  }

  &__contacts {
    flex: 1;
    display: none;
    padding: 2.2rem 4.4rem;
    border: .1rem solid rgba(255, 255, 255, 0.24);

    @include mobile {
      display: block;
    }

    &>a {
      color: var(--white-color);
      text-align: center;
      font-family: 'Noto Sans JP';
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__burger {
    position: relative;
    z-index: 90;
    flex: 1;
    display: none;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.24);
    border-right: .1rem solid rgba(255, 255, 255, 0.24);
    border-top: .1rem solid rgba(255, 255, 255, 0.24);
    padding: 1.75rem 3.45rem;

    @include mobile {
      display: block;
    }

    svg {
      fill: var(--white-color);
      width: 3.2rem;
      height: 3.2rem;

      transition: fill .3s ease-out;
    }

    &.active {

      svg {
        fill: var(--white-color) !important;
      }
    }
  }

  &__place {
    width: 28.8rem;
    padding: 2.4rem;
    padding-left: 3.2rem;
    border-top: .1rem solid rgba(255, 255, 255, 0.24);
    border-left: .1rem solid rgba(255, 255, 255, 0.24);
    display: flex;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    overflow: hidden;


    &>span {
      position: relative;
      z-index: 6;
      display: inline-flex;
      align-items: center;
      gap: 1.2rem;
      color: var(--white-color);
      text-align: center;
      font-family: 'Noto Sans JP';
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: color .3s ease-out;
    }

    .map-icon {
      position: relative;
      z-index: 6;
      display: inline-block;
      width: 3.2rem;
      height: 3.2rem;

      svg {
        width: 100%;
        height: 100%;
        fill: var(--white-color);
        transition: fill .3s ease-out;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      inset: 0;
      background-color: var(--white-color);
      transform: translateY(110%);
      transition: transform .3s ease-out;
    }

    @include hover {
      &>span {
        color: var(--blue-color);
      }

      &::after {
        transform: translateY(0);
      }

      .map-icon {
        svg {
          fill: var(--blue-color);
        }
      }
    }

  }

  &__search {
    display: flex;
    align-items: center;
    width: 48.2rem;
    padding: 2rem 3.2rem;
    border-top: .1rem solid rgba(255, 255, 255, 0.24);
    border-left: .1rem solid rgba(255, 255, 255, 0.24);

    &-label {
      display: block;
      width: 100%;
      height: 4rem;

      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 2.4rem;
        width: 2.4rem;
        left: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('./../img/search-icon.svg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &>input {
        display: block;
        border-radius: 2.4rem;
        padding: 0.8rem;
        padding-left: 4.4rem;
        border: none;
        width: 100%;
        height: 100%;

        background: rgba(255, 255, 255, 0.20);

        font-family: 'Noto Sans JP';
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &::placeholder {
          color: rgba(255, 255, 255, 0.60);
        }


      }
    }


  }

  &__call {
    width: 55.9rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: .1rem solid rgba(255, 255, 255, 0.24);
    border-left: .1rem solid rgba(255, 255, 255, 0.24);
    position: relative;
    overflow: hidden;


    &-row {
      display: flex;
      align-items: center;



    }

    a {
      position: static;
      z-index: 5;
      color: var(--white-color);
      font-family: 'Plus Jakarta Sans';
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        inset: 0;
      }
    }

    span {
      position: relative;
      z-index: 5;
      color: var(--white-color);
      font-family: 'Noto Sans JP';
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .call-icon {
      position: relative;
      z-index: 5;
      display: inline-block;
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1.2rem;

      svg {
        width: 100%;
        height: 100%;
        fill: var(--white-color);
        transition: fill .3s ease-out;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      inset: 0;
      background-color: var(--white-color);
      transform: translateY(110%);
      transition: transform .3s ease-out;
    }

    @include hover {

      a {
        color: var(--blue-color);
      }

      span {
        color: var(--blue-color);
      }

      &::after {
        transform: translateY(0);
      }

      .call-icon {
        svg {
          fill: var(--blue-color);
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    height: 100%;
    width: 29.6rem;
    border-left: .1rem solid rgba(255, 255, 255, 0.24);
    border-top: .1rem solid rgba(255, 255, 255, 0.24);
    border-right: .1rem solid rgba(255, 255, 255, 0.24);

    @include mobile {
      display: none;
    }
  }

  &__link {
    width: 29.6rem;
    height: 100%;
    border-left: .1rem solid rgba(255, 255, 255, 0.24);
    border-right: .1rem solid rgba(255, 255, 255, 0.24);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    text-align: center;
    font-family: 'Noto Sans JP';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    position: relative;

    &>span {
      position: relative;
      z-index: 5;
      transition: color .3s ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--white-color);
      transform: translateY(110%);

      transition: transform .3s ease-out;
    }

    @include mobile {
      display: none;
    }

    @include hover {
      &::after {
        transform: translateY(0);
      }

      &>span {
        color: var(--blue-color);
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    height: 8rem;

    @include mobile {
      display: none;
    }
  }
}


.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 100%;
  border: .1rem solid rgba(255, 255, 255, 0.24);
  position: relative;
  overflow: hidden;

  &>svg {
    position: relative;
    z-index: 5;
    fill: #fff;
    width: 46%;
    height: 46%;

    transition: fill .3s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--white-color);
    transform: translateY(110%);
    transition: transform .3s ease-out;
  }

  @include hover {
    &::after {
      transform: translateY(0);
    }

    &>svg {
      fill: var(--blue-color);
    }
  }
}


.header--sec {
  background-color: var(--white-color);

  .social__link {
    border-color: #E1E1E1;
  }

  .header__logo {
    svg {
      fill: var(--black-color);


    }

    border-top: .1rem solid #E1E1E1;
    border-left: .1rem solid #E1E1E1;

    &::after {
      background-color: var(--black-color);
    }

    transition: border .3s ease-out;

    @include hover {
      border-top-color: var(--black-color);
      border-left-color: var(--black-color);
      border-bottom-color: var(--black-color);

      svg {
        fill: var(--white-color) !important;

        .path-blue {
          fill: var(--white-color) !important;
        }
      }
    }
  }

  .header__place {
    color: var(--black-color);
    border-top: .1rem solid #E1E1E1;
    border-left: .1rem solid #E1E1E1;

    svg {
      fill: var(--black-color);
    }

    &>span {
      color: var(--black-color);

      &::before {
        background-image: url('./../img/map-icon-black.svg');
      }
    }

    &::after {
      background-color: var(--black-color);
    }

    transition: border .3s ease-out;

    @include hover {
      border-top-color: var(--black-color);
      border-left-color: var(--black-color);
      border-bottom-color: var(--black-color);

      &>span {
        color: var(--white-color);
      }

      svg {
        fill: var(--white-color);
      }
    }


  }

  .header__search {
    border-top: .1rem solid #E1E1E1;
    border-left: .1rem solid #E1E1E1;

    input {
      background-color: #F1F0F0;
    }

    input::placeholder {
      color: #606060;
    }

    &-label {
      &::before {
        background-image: url('./../img/search-icon-black.svg');
      }
    }
  }

  .header__call {
    border-top: .1rem solid #E1E1E1;
    border-left: .1rem solid #E1E1E1;

    &::after {
      background-color: var(--black-color);
    }

    transition: border .3s ease-out;

    @include hover {
      border-top-color: var(--black-color);
      border-left-color: var(--black-color);
      border-bottom-color: var(--black-color);

      svg {
        fill: var(--white-color)
      }
    }

    .call-icon {
      svg {
        fill: var(--black-color);
      }
    }

    a,
    span {
      color: var(--black-color);
    }

    &::before {
      background-image: url('./../img/phone-icon-black.svg');
    }

    @include hover {

      a,
      span {
        color: var(--white-color);
      }

      .call-icon {
        svg {
          fill: var(--white-color)
        }
      }
    }
  }

  .nav {
    border-top: .1rem solid #E1E1E1;
    border-left: .1rem solid #E1E1E1;
  }

  .header__socials {
    border-top: .1rem solid #E1E1E1;
    border-right: .1rem solid #E1E1E1;
    border-left: .1rem solid #E1E1E1;
  }

  .social__link {
    &::after {
      background-color: var(--black-color);
    }



    svg {
      fill: var(--black-color);
    }

    @include hover {
      svg {
        fill: var(--white-color);
      }
    }
  }

  .nav {
    transition: border .3s ease-out;
    border-bottom: .1rem solid transparent;

    @include hover {
      border-bottom-color: var(--black-color);
    }

    .nav__list {
      &::after {
        background-color: var(--black-color);
      }



      @include hover {
        border-bottom-color: var(--black-color);

        .nav__link {
          color: var(--white-color);
        }
      }
    }
  }

  .header__link,
  .nav__link,
  .header__contacts {


    color: var(--black-color);

    a {
      color: inherit;
    }
  }

  .header__link {
    border-right: .1rem solid #E1E1E1;
    border-left: .1rem solid #E1E1E1;

    &::after {
      display: block;
      background-color: var(--black-color);
    }

    @include hover {
      &>span {
        color: var(--white-color);
      }
    }
  }

  .header__burger {
    svg {
      fill: var(--black-color);
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}