.line {
  background-color: var(--accent-color);
  padding: 3.2rem 4.4rem;
  display: flex;
  align-items: center;
  gap: 4.4rem;

  @include mobile {
    padding: 1.6rem 2rem;
    gap: 2rem;
  }

  span {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex: 1;
    color: var(--white-color);
    font-family: 'Russo One';
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.128rem;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      margin-left: 4.4rem;
      width: 4.8rem;
      height: 4.8rem;
      background-image: url('./../img/arr-up-right.svg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      @include mobile {
        width: 3.2rem;
        height: 3.2rem;
        margin-left: 2rem;
      }
    }

    @include mobile {
      font-size: 2rem;
      letter-spacing: 0.08rem;
    }
  }
}