<section class="about-gallery">
  <h2 class="visually-hidden">title</h2>
  <div class="line">
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
  </div>
  <div class="container">
    <div class="about-gallery__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item">
            <div class="about-g__image">
              <picture>
                <source srcset="./img/about/gallery/01-2x.webp" media="(min-width: 1920px)">
                <source srcset="./img/about/gallery/01.webp">
                <img src="./img/about/gallery/01.png" srcset="./img/about/gallery/01-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item">
            <div class="about-g__image">
              <picture>
                <source srcset="./img/about/gallery/02-2x.webp" media="(min-width: 1920px)">
                <source srcset="./img/about/gallery/02.webp">
                <img src="./img/about/gallery/02.png" srcset="./img/about/gallery/02-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item">
            <div class="about-g__image">
              <picture>
                <source srcset="./img/about/gallery/03-2x.webp" media="(min-width: 1920px)">
                <source srcset="./img/about/gallery/03.webp">
                <img src="./img/about/gallery/03.png" srcset="./img/about/gallery/03-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item">
            <div class="about-g__image">
              <picture>
                <source srcset="./img/about/gallery/01-2x.webp" media="(min-width: 1920px)">
                <source srcset="./img/about/gallery/01.webp">
                <img src="./img/about/gallery/01.png" srcset="./img/about/gallery/01-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item">
            <div class="about-g__image">
              <picture>
                <source srcset="./img/about/gallery/02-2x.webp" media="(min-width: 1920px)">
                <source srcset="./img/about/gallery/02.webp">
                <img src="./img/about/gallery/02.png" srcset="./img/about/gallery/02-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item">
            <div class="about-g__image">
              <picture>
                <source srcset="./img/about/gallery/03-2x.webp" media="(min-width: 1920px)">
                <source srcset="./img/about/gallery/03.webp">
                <img src="./img/about/gallery/03.png" srcset="./img/about/gallery/03-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination about-g-pagination"></div>
    </div>
  </div>
</section>