<section class="about-hero">
  <h1 class="about-hero__title title">
    <div class="container">
      О нас
    </div>
  </h1>
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./">Главная</a></li>
        <li><a>О нас</a></li>
      </ul>
    </div>
    <div class="about-hero__container">
      <div class="about-hero__image">
        <picture>
          <source srcset="./img/about/01-3x.webp" media="(min-width: 2560px)">
          <source srcset="./img/about/01-2x.webp" media="(min-width: 1920px)">
          <source srcset="./img/about/01.webp">
          <img src="./img/about/01.png" srcset="./img/about/01-2x.png 2x, ./img/about/01-3x.png 3x" alt="about">
        </picture>
      </div>
      <div class="about-hero__content">
        <p>«Название компании» - сервисный центр по ремонту компьютеров и ноутбуков в городе Истра. За 7 лет успешной
          работы наша компания вернула «к жизни» и «вылечила» сотни устройств. Мы быстро и качественно восстанавливаем
          работоспособность компьютеро и ноутбуков, техники Apple, любых мобильных устройств, решаем любые технические
          проблемы и предлагаем оптимальные решения для модернизации ПК.</p>
        <p>Наша цель - восстановить работоспособность вашего устройства любой ценой!</p>
        <p>Инженеры нашей компании – высококлассные профи своего дела со стажем работы более 10 лет, обладают обширными
          техническими знаниями и богатым практическим опытом. Они</p>
        <p>знают, в чем причина «болезни» Вашего «железа», и всегда смогут ему помочь!</p>
        <p>
          У нас в наличии все необходимое оборудование для любого вида ремонта: новейшие паяльные станции,
          осциллографы, лучший расходный материал
          программаторы и многое другое.
        </p>
        <p>
          Сделаем все для того, чтобы уже в ближайшее время Вы продолжили наслаждаться своими любимыми устройствами.
        </p>
      </div>
    </div>
  </div>
</section>