<section class="about-hero">
  <h2 class="about-hero__title title" data-aos="custom-fade-up">
    <div class="container">
      О нас
    </div>
  </h2>
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./">Главная</a></li>
        <li><a>О нас</a></li>
      </ul>
    </div>
    <div class="about-hero__container">
      <div class="about-hero__image" data-aos="custom-fade-up">
        <picture>
          <source type="image/webp" srcset="./img/about/01-3x.webp" media="(min-width: 2560px)">
          <source type="image/webp" srcset="./img/about/01-2x.webp" media="(min-width: 1920px)">
          <source type="image/webp" srcset="./img/about/01.webp">
          <img src="./img/about/01.png" srcset="./img/about/01-2x.png 2x, ./img/about/01-3x.png 3x" alt="about">
        </picture>
      </div>
      <div class="about-hero__content" data-aos="custom-fade-up" data-aos-delay="300">
        <p>«Sc-mobility» — сервисный центр по ремонту компьютеров, ноутбуков и мобильной техники в городе Истра. За 7
          лет успешной работы наша компания вернула «к жизни» и «вылечила» сотни устройств.</p>
        <p>Мы быстро и качественно восстанавливаем работоспособность компьютеров и ноутбуков, техники Apple, любых
          мобильных устройств, решаем любые технические проблемы и предлагаем оптимальные решения для модернизации ПК.
        </p>
        <p>Наш девиз — работай честно и без всякой х#№ни.</p>
        <p>Наша цель — восстановить работоспособность Вашего устройства любой ценой!</p>
        <p>Инженеры нашей компании — высококлассные профи своего дела со стажем работы более 10 лет, обладают обширными
          техническими знаниями и богатым практическим опытом.</p>
        <p>
          Они знают, в чем причина «болезни» Вашего «железа», и всегда смогут ему помочь!
        </p>
        <p>
          У нас в наличии все необходимое оборудование для любого вида ремонта: новейшие паяльные станции, осциллографы,
          лучший расходный материал, программаторы и многое другое.
        </p>
        <p>
          Сделаем все для того, чтобы уже в ближайшее время Вы продолжили наслаждаться своими любимыми устройствами.
        </p>
      </div>
    </div>
  </div>
</section>