<section class="about-gallery">
  <h2 class="visually-hidden">title</h2>
  <div class="line" data-aos="custom-fade-up">
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
    <span>Галерея работ</span>
  </div>
  <div class="container">
    <div class="about-gallery__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item" data-aos="custom-fade-up" data-aos-delay="100">
            <div class="about-g__image">
              <picture>
                <source type="image/webp" srcset="./img/about/gallery/01-2x.webp" media="(min-width: 1920px)">
                <source type="image/webp" srcset="./img/about/gallery/01.webp">
                <img src="./img/about/gallery/01.png" srcset="./img/about/gallery/01-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Телефон <span>Poco X3 Pro</span>
              Типовая неисправность, дефект пайки процессора, в следствии чего телефон иногда перестает подавать
              признаки жизни, заряжаться, или перестает работать сеть. После перепайки процессора и оперативной памяти
              телефон вернулся в рабочее состояние.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item" data-aos="custom-fade-up" data-aos-delay="200">
            <div class="about-g__image">
              <picture>
                <source type="image/webp" srcset="./img/about/gallery/02-2x.webp" media="(min-width: 1920px)">
                <source type="image/webp" srcset="./img/about/gallery/02.webp">
                <img src="./img/about/gallery/02.png" srcset="./img/about/gallery/02-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              Телефон <span>iPhone XR</span>
              Стандартная история, разбитый экран. Заменили на оригинальный, с переносом родной микросхемы и настроек
              TrueTone. Телефон выглядит как новый и продолжит радовать своего владельца.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item" data-aos="custom-fade-up" data-aos-delay="300">
            <div class="about-g__image">
              <picture>
                <source type="image/webp" srcset="./img/about/gallery/03-2x.webp" media="(min-width: 1920px)">
                <source type="image/webp" srcset="./img/about/gallery/03.webp">
                <img src="./img/about/gallery/03.png" srcset="./img/about/gallery/03-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              <span>iPhone 12 Pro Max</span>
              Телефон после переезда автомобилем. Сильная деформация корпуса, разбитый экран. Восстанавливать такой
              корпус не имело смысла, поэтому мы заменили на оригинальный корпус с разборки, а так же поставили
              оригинальный дисплей. Pro Max"у досталось по максимуму.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item" data-aos="custom-fade-up" data-aos-delay="100">
            <div class="about-g__image">
              <picture>
                <source type="image/webp" srcset="./img/about/gallery/01-2x.webp" media="(min-width: 1920px)">
                <source type="image/webp" srcset="./img/about/gallery/01.webp">
                <img src="./img/about/gallery/01.png" srcset="./img/about/gallery/01-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              <span>Телефон Poco X3 Pro</span>
              Типовая неисправность, дефект пайки процессора, в следствии чего телефон иногда перестает подавать
              признаки жизни, заряжаться, или перестает работать сеть. После перепайки процессора и оперативной памяти
              телефон вернулся в рабочее состояние.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item" data-aos="custom-fade-up" data-aos-delay="200">
            <div class="about-g__image">
              <picture>
                <source type="image/webp" srcset="./img/about/gallery/02-2x.webp" media="(min-width: 1920px)">
                <source type="image/webp" srcset="./img/about/gallery/02.webp">
                <img src="./img/about/gallery/02.png" srcset="./img/about/gallery/02-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              <span>Телефон iPhone XR</span>
              Стандартная история, разбитый экран. Заменили на оригинальный, с переносом родной микросхемы и настроек
              TrueTone. Телефон выглядит как новый и продолжит радовать своего владельца.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-g__item about-gallery__item" data-aos="custom-fade-up" data-aos-delay="300">
            <div class="about-g__image">
              <picture>
                <source type="image/webp" srcset="./img/about/gallery/03-2x.webp" media="(min-width: 1920px)">
                <source type="image/webp" srcset="./img/about/gallery/03.webp">
                <img src="./img/about/gallery/03.png" srcset="./img/about/gallery/03-2x.png" alt="gallery 1">
              </picture>
            </div>
            <p class="about-g__text">
              <span>iPhone 12 pro max</span>
              Телефон после переезда автомобилем. Сильная деформация корпуса, разбитый экран. Восстанавливать такой
              корпус не имело смысла, поэтому мы заменили на оригинальный корпус с разборки, а так же поставили
              оригинальный дисплей. Pro Max"у досталось по максимуму.
            </p>
          </div>
        </div>

      </div>
      <div class="swiper-pagination about-g-pagination"></div>
    </div>
  </div>
</section>