<section class="about-steps">
  <h2 class="visually-hidden">title</h2>
  <div class="line" data-aos="custom-fade-up">
    <span>Как мы работаем</span>
    <span>Как мы работаем</span>
    <span>Как мы работаем</span>
    <span>Как мы работаем</span>
  </div>

  <div class="container">
    <div class="swiper steps__slider">
      <div class="swiper-wrapper about-steps__container">
        <div class="swiper-slide">
          <div class="about-steps__item" data-aos="custom-fade-up" data-aos-delay="100">
            <h3 class="about-steps__step">шаг 1</h3>
            <h2 class="about-steps__title">Обращение в сервисный центр</h2>
            <p class="about-steps__desc">Ваш звонок в сервис. Назовите тип устройства и опишите неисправность</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-steps__item" data-aos="custom-fade-up" data-aos-delay="200">
            <h3 class="about-steps__step">шаг 2</h3>
            <h2 class="about-steps__title">Консультация специалиста</h2>
            <p class="about-steps__desc">Специалист проконсультирует Вас по возможным причинам неисправности</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-steps__item" data-aos="custom-fade-up" data-aos-delay="300">
            <h3 class="about-steps__step">шаг 3</h3>
            <h2 class="about-steps__title">Консультация специалиста</h2>
            <p class="about-steps__desc">Инженер диагностирует неисправность устройства и согласовывает с Вами стоимость
              его
              ремонта</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-steps__item" data-aos="custom-fade-up" data-aos-delay="400">
            <h3 class="about-steps__step">шаг 4</h3>
            <h2 class="about-steps__title">Согласование и ремонт</h2>
            <p class="about-steps__desc">Мастер производит ремонт техники или забирает его для дальнейшего ремонта в
              сервисном
              центре. По окончании работ подписывается договор, который предоставляет гарантию на некоторые услуги до
              3-х
              лет
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination steps-pagination"></div>
    </div>




  </div>
</section>