<section class="cases">
  <h2 class="visually-hidden">title</h2>
  <div class="line" data-aos="custom-fade-up">
    <span>Кейсы</span>
    <span>Кейсы</span>
    <span>Кейсы</span>
    <span>Кейсы</span>
    <span>Кейсы</span>
    <span>Кейсы</span>
    <span>Кейсы</span>
    <span>Кейсы</span>
  </div>

  <div class="cases__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="case" data-aos="custom-fade-up" data-aos-delay="100" data-aos-duration="600">
          <div class="case__content">
            <h3 class="case__title">Поломки блока питания</h3>
            <h4 class="case__subtitle">Что сделали:</h4>
            <ul class="list-reset case__list">
              <li class="case__item popular-item__item">Чистка</li>
              <li class="case__item popular-item__item">Замена термопасты</li>
              <li class="case__item popular-item__item">Замена сломанного кулера</li>
            </ul>
            <h4 class="case__subtitle">Результат:</h4>
            <p class="case__desc">Бесшумная работа сразу после загрузки, высокая скорость работы приложений.</p>
          </div>

          <div class="case__image">
            <img src="./img/cases/01.webp" alt="case">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case" data-aos="custom-fade-up" data-aos-delay="200" data-aos-duration="600">
          <div class="case__content">
            <h3 class="case__title">Разбит экран</h3>
            <h4 class="case__subtitle">Что сделали:</h4>
            <ul class="list-reset case__list">
              <li class="case__item popular-item__item">Диагностика и замена матрицы на качественный аналог</li>
              <li class="case__item popular-item__item">Замена сломанного кулера</li>
            </ul>
            <h4 class="case__subtitle">Результат:</h4>
            <p class="case__desc">На экране больше нет трещин. Цветопередача совпадает с оригинальным экраном.</p>
          </div>

          <div class="case__image">
            <img src="./img/cases/02.webp" alt="case">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case" data-aos="custom-fade-up" data-aos-delay="300" data-aos-duration="600">
          <div class="case__content">
            <h3 class="case__title">Нет загрузки</h3>
            <h4 class="case__subtitle">Что сделали:</h4>
            <ul class="list-reset case__list">
              <li class="case__item popular-item__item">Диагностика работы аккумулятора, разъёмов и блока питания</li>
              <li class="case__item popular-item__item">Диагностика компонентов материнской платы</li>
              <li class="case__item popular-item__item">Диагностика работы операционной системы</li>
              <li class="case__item popular-item__item">Переустановка ОС, настройка необходимого программного
                обеспечения</li>
            </ul>
            <h4 class="case__subtitle">Результат:</h4>
            <p class="case__desc">После ремонта скорость работы возросла, система запускается без сбоев, обновлены все
              драйверы.</p>
          </div>

          <div class="case__image">
            <img src="./img/cases/03.webp" alt="case">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case" data-aos="custom-fade-up" data-aos-delay="400" data-aos-duration="600">
          <div class="case__content">
            <h3 class="case__title">Вирусные баннеры</h3>
            <h4 class="case__subtitle">Что сделали:</h4>
            <ul class="list-reset case__list">
              <li class="case__item popular-item__item">Диагностика заражения, поиск типа вируса</li>
              <li class="case__item popular-item__item">Копирование данных на отдельный носитель</li>
              <li class="case__item popular-item__item">Переустановка ОС</li>
              <li class="case__item popular-item__item">Установка антивирусного ПО</li>
            </ul>
            <h4 class="case__subtitle">Результат:</h4>
            <p class="case__desc">После переустановки ОС все данные были проверены на отдельном ПК, очищены от
              вредоносных программ. На компьютер клиента установлены несколько антивирусных программ для защит от
              заражения.</p>
          </div>

          <div class="case__image">
            <img src="./img/cases/04.webp" alt="case">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="case" data-aos="custom-fade-up" data-aos-delay="500" data-aos-duration="600">
          <div class="case__content">
            <h3 class="case__title">Медленная работа</h3>
            <h4 class="case__subtitle">Что сделали:</h4>
            <ul class="list-reset case__list">
              <li class="case__item popular-item__item">Диагностика оперативной памяти, видеокарты</li>
              <li class="case__item popular-item__item">Чистка системы охлаждения</li>
              <li class="case__item popular-item__item">Удаление вредоносного ПО</li>
              <li class="case__item popular-item__item">Модернизация оперативной памяти (расширение)</li>
            </ul>
            <h4 class="case__subtitle">Результат:</h4>
            <p class="case__desc">Возросла скорость запуска приложений, компьютер работает бесшумно и загружается на
              75% быстрее.</p>
          </div>

          <div class="case__image">
            <img src="./img/cases/05.webp" alt="case">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination cases-pagination"></div>
  </div>

</section>