<section class="contacts-hero">
  <h1 class="title contacts-hero__title" data-aos="custom-fade-up">
    <div class="container">
      Контакты
    </div>
  </h1>
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./">Главная</a></li>
        <li><a>Контакты</a></li>
      </ul>
    </div>
    <div class="contacts-hero__contacts contacts">
      <div class="contacts__data">

        <div class="contacts__row" data-aos="custom-fade-up" data-aos-delay="100">
          <img src="./img/contacts/phone-icon.svg" alt="phone">
          <div class="contacts__col">
            <span class="contacts__name">Телефон:</span>
            <span class="contacts__info">
              <a href="tel:9778705596">977-870-55-96</a></span>
          </div>
        </div>
        <div class="contacts__row" data-aos="custom-fade-up" data-aos-delay="200">
          <img src="./img/contacts/map-icon.svg" alt="phone">
          <div class="contacts__col">
            <span class="contacts__name">Адрес:</span>
            <span class="contacts__info">г.Истра, улица Ленина, дом 6</span>
          </div>
        </div>
        <div class="contacts__row" data-aos="custom-fade-up" data-aos-delay="300">
          <img src="./img/contacts/mail-icon.svg" alt="phone">
          <div class="contacts__col">
            <span class="contacts__name">E-mail:</span>
            <span class="contacts__info">
              <a href="mailto:workshop.lenina6@gmail.com">workshop.lenina6@gmail.com</a></span>
          </div>
        </div>
      </div>
      <div class="contacts__image" data-aos="custom-fade-up">
        <img src="./img/contacts-bg.png" alt="urban">
      </div>
    </div>
  </div>
</section>