<section class="faq">
  <h2 class="visually-hidden">title</h2>
  <div class="line">
    <span>Вопросы-ответы</span>
    <span>Вопросы-ответы</span>
    <span>Вопросы-ответы</span>
    <span>Вопросы-ответы</span>
  </div>
  <div class="faq__items container">
    <div class="faq__item faq-item">
      <button class="btn-reset"><span>Какая гарантия на услуги?</span></button>
      <p class="faq-item__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque expedita quam
        voluptatem, eum ipsa, qui explicabo eos obcaecati sequi quaerat quos eaque odio porro aut laboriosam dolorum?
        Facilis perferendis consectetur deleniti earum eum dignissimos nisi odio ea, natus omnis! Id nesciunt architecto
        illum doloremque unde quia numquam iure corporis neque!</p>
    </div>

    <div class="faq__item faq-item">
      <button class="btn-reset"><span>Сколько стоит диагностика? Если я отказываюсь от ремонта, должен ли я что-то
          оплачивать?</span></button>
      <p class="faq-item__content">Мы не берем денег за диагностику устройства, но за потраченное время инженера на
        сборку-разборку устройства, от 500 до 1500р.
        В случае отказа клиента от ремонта - оплата не производится! Если клиент изначально согласился на ремонт, и уже
        куплены под этот ремонт запчасти, и вдруг он отказался - тогда оплачиваются запчасти. Либо, клиенту изначально
        предлагают оплатить диагностику. Все взаиморассчеты по согласованию с клиентом!</p>
    </div>

    <div class="faq__item faq-item">
      <button class="btn-reset"><span>Возможен ли экспресс-ремонт?</span></button>
      <p class="faq-item__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque expedita quam
        voluptatem, eum ipsa, qui explicabo eos obcaecati sequi quaerat quos eaque odio porro aut laboriosam dolorum?
        Facilis perferendis consectetur deleniti earum eum dignissimos nisi odio ea, natus omnis! Id nesciunt architecto
        illum doloremque unde quia numquam iure corporis neque!</p>
    </div>

    <div class="faq__item faq-item">
      <button class="btn-reset"><span>Какая будет итоговая стоимость работ? Можно ли узнать по телефону?</span></button>
      <p class="faq-item__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque expedita quam
        voluptatem, eum ipsa, qui explicabo eos obcaecati sequi quaerat quos eaque odio porro aut laboriosam dolorum?
        Facilis perferendis consectetur deleniti earum eum dignissimos nisi odio ea, natus omnis! Id nesciunt architecto
        illum doloremque unde quia numquam iure corporis neque!</p>
    </div>

    <div class="faq__item faq-item">
      <button class="btn-reset"><span>Сколько времени займет ремонт моего устройства?</span></button>
      <p class="faq-item__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque expedita quam
        voluptatem, eum ipsa, qui explicabo eos obcaecati sequi quaerat quos eaque odio porro aut laboriosam dolorum?
        Facilis perferendis consectetur deleniti earum eum dignissimos nisi odio ea, natus omnis! Id nesciunt architecto
        illum doloremque unde quia numquam iure corporis neque!</p>
    </div>

    <div class="faq__item faq-item">
      <button class="btn-reset"><span>Какие детали и запчасти вы используете для ремонта ноутбуков?</span></button>
      <p class="faq-item__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque expedita quam
        voluptatem, eum ipsa, qui explicabo eos obcaecati sequi quaerat quos eaque odio porro aut laboriosam dolorum?
        Facilis perferendis consectetur deleniti earum eum dignissimos nisi odio ea, natus omnis! Id nesciunt architecto
        illum doloremque unde quia numquam iure corporis neque!</p>
    </div>
  </div>
</section>