<section class="guarantee">
  <div class="line" data-aos="custom-fade-up">
    <span>гарантия</span>
    <span>гарантия</span>
    <span>гарантия</span>
    <span>гарантия</span>
    <span>гарантия</span>
    <span>гарантия</span>
  </div>
  <div class="container">
    <h3 class="guarantee__subtitle" data-aos="custom-fade-up">Вам не за что переживать</h3>
    <h2 class="guarantee__title" data-aos="custom-fade-up" data-aos-delay="200">Мы предоставим договор, акт, гарантию на
      работы и кассовый
      чек.</h2>

    <div class="guarantee__items">
      <div class="guarantee__item guarantee__item--speed g-item" data-aos="custom-fade-up">
        <h3 class="g-item__title">Скорости</h3>
        <p class="g-item__desc">Компьютер будет запускаться быстро, моментально реагировать на любые команды. Больше
          никаких лагов, зависаний, «чёрных» и «синих» экранов.</p>
      </div>
      <div class="g-separator"></div>
      <div class="guarantee__item guarantee__item--system g-item" data-aos="custom-fade-up" data-aos-delay="300">
        <h3 class="g-item__title">Восстановления системы</h3>
        <p class="g-item__desc">Восстанавливаем внутренние комплектующие после механических воздействий от падения или
          удара и залития жидкостей, а также систему после вирусных атак.</p>
      </div>
      <div class="g-separator"></div>
      <div class="guarantee__item guarantee__item--safe g-item" data-aos="custom-fade-up" data-aos-delay="600">
        <h3 class="g-item__title">Безопасности</h3>
        <p class="g-item__desc">Работа в сети будет безопасной после программных настроек, личные данные под защитой.
        </p>
      </div>
    </div>
  </div>
</section>