<section class="hero">
  @include('./header.html')
  <h2 class="visually-hidden">title</h2>
  <div class="hero__header">
    <h1 class="hero__title" data-aos="custom-fade-up">Сервисный центр по ремонту компьютеров, ноутбуков и мобильной
      техники в городе&nbsp;Истра</h1>
    <p class="hero__desc" data-aos="custom-fade-up" data-aos-delay="100">Даже самой надежной технике иногда требуется
      <span>компьютерная помощь</span>
    </p>
    <button class="btn-reset hero__btn btn" data-aos="custom-fade-up" data-aos-delay="200" data-modal-btn><span>Выявить
        Неполадку</span></button>
  </div>
  <ul class="hero__list list-reset">
    <li class="hero__item hero__item--prior hero-item" data-aos="custom-fade-up" data-aos-delay="400">
      <span class="hero-item__text">
        Бережное обращение с&nbsp;техникой&nbsp;&mdash; наш приоритет
      </span>
    </li>
    <li class="hero__item hero__item--an hero-item" data-aos="custom-fade-up" data-aos-delay="500">
      <span class="hero-item__text">
        Всесторонняя профессиональная&nbsp;диагностика
      </span>
    </li>
    <li class="hero__item hero__item--rep hero-item" data-aos="custom-fade-up" data-aos-delay="600">
      <span class="hero-item__text">
        Ремонт любой сложности
        в&nbsp;день обращения
      </span>
    </li>
    <li class="hero__item hero__item--report hero-item" data-aos="custom-fade-up" data-aos-delay="700">
      <span class="hero-item__text">
        Честная смета
        на&nbsp;работы
      </span>
    </li>
    <li class="hero__item hero__item--det hero-item" data-aos="custom-fade-up" data-aos-delay="800">
      <span class="hero-item__text">
        Сертифицированные запчасти и&nbsp;детали
      </span>
    </li>
  </ul>
</section>
