<div class="menu">
  <div class="menu__window">
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link" href="./">Главная</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./about.html">О нас</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./contacts.html">Контакты</a>
        </li>
      </ul>
    </nav>
    <address class="footer__col">
      <a href="tel:9778705596" class="footer__add footer__add--tel footer__link">977-870-55-96</a>
      <a href="mailto:workshop.lenina6@gmail.com"
        class="footer__add footer__add--mail footer__link">workshop.lenina6@gmail.com</a>
      <p class="footer__add footer__link footer__add--address">г.Истра, улица Ленина, дом 6, магазин Матрикс</p>
    </address>
  </div>
</div>