<div class="partners">
  <div class="line" data-aos="custom-fade-up">
    <span>брендЫ</span>
    <span>брендЫ</span>
    <span>брендЫ</span>
    <span>брендЫ</span>
    <span>брендЫ</span>
    <span>брендЫ</span>
    <span>брендЫ</span>
  </div>
  <h2 class="visually-hidden">title</h2>
  <div class="items-wrap">
    <div class="items marquee">
      <div class="partners__item">
        <img src="./img/partners/hp.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/lenovo.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/sony.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/acer.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/samsung.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/asus.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/dell.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/apple.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/toshiba.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/huawei.webp" alt="HP">
      </div>
    </div>
    <div aria-hidden="true" class="items marquee">
      <div class="partners__item">
        <img src="./img/partners/hp.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/lenovo.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/sony.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/acer.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/samsung.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/asus.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/dell.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/apple.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/toshiba.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/huawei.webp" alt="HP">
      </div>
    </div>
  </div>
  <div class="items-wrap">
    <div class="items marquee reverce">
      <div class="partners__item">
        <img src="./img/partners/hp.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/lenovo.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/sony.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/acer.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/samsung.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/asus.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/dell.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/apple.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/toshiba.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/huawei.webp" alt="HP">
      </div>
    </div>
    <div aria-hidden="true" class="items marquee reverce">
      <div class="partners__item">
        <img src="./img/partners/hp.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/lenovo.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/sony.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/acer.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/samsung.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/asus.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/dell.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/apple.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/toshiba.webp" alt="HP">
      </div>
      <div class="partners__item">
        <img src="./img/partners/huawei.webp" alt="HP">
      </div>
    </div>
  </div>
</div>