<section class="popular">
  <h2 class="visually-hidden">Title Поломки</h2>
  <div class="line" data-aos="custom-fade-up">
    <span>Популярные&nbsp;неисправности&nbsp;компьютеров</span>
    <span>Популярные неисправности ноутбуков</span>
  </div>
  <div class="container">
    <div class="popular__buttons">
      <button class="btn-reset btn popular__btn active" data-type="apparat"><span>Аппаратные неисправности
          компьютера</span></button>
      <button class="btn-reset btn popular__btn" data-type="program"><span>Программные неисправности
          компьютера</span></button>
    </div>
    <div class="swiper popular__slider popular__slider--apparat active" data-type="apparat">
      <div class="swiper-wrapper popular__wrapper">
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправность<br>процессора</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер перезагружается циклически</li>
            <li class="popular-item__item">Не стартует материнская плата</li>
            <li class="popular-item__item">Нет загрузки с жесткого диска</li>
            <li class="popular-item__item">Не устанавливается, а также не загружается Windows</li>
            <li class="popular-item__item">Иногда программы работают с ошибками</li>
            <li class="popular-item__item">Проблемы с памятью, если контроллер памяти в процессоре</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Не работает память<br>компьютера/ноутбука</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер не загружается</li>
            <li class="popular-item__item">Происходят периодические сбои, сопровождающиеся синим «экраном смерти» в
              Windows и приложениях</li>
            <li class="popular-item__item">Артефакты, искажение изображения</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправности материнской платы компьютера/ноутбука</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер совсем не включается, либо включается, но не загружается</li>
            <li class="popular-item__item">Не работают USB, звуковая карта, а также USB клавиатура и мышь</li>
            <li class="popular-item__item">Процессор холодный</li>
            <li class="popular-item__item">Не загружается или не устанавливается Windows, перегревается процессор</li>
            <li class="popular-item__item">Сильно греется процессор, а также детали его питания на материнской плате
            </li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Проблемы<br>жесткого диска</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Не раскручивается, не обнаруживается в BIOS</li>
            <li class="popular-item__item">Не загружается Windows, системный блок циклически перезагружается, зависает,
              тормозит</li>
            <li class="popular-item__item">Регулярные ошибки и аварийные завершения программ</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправность Чипсета, Хаба, Северного или Южного моста</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Отсутствие изображения на мониторе, хотя компьютер включается</li>
            <li class="popular-item__item">Устройство не реагирует на кнопку включения</li>
            <li class="popular-item__item">Не работают периферийные устройства</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправность<br>видеокарты</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Отсутствует изображение на мониторе, черный экран, надпись «Нет сигнала»
            </li>
            <li class="popular-item__item">Артефакты на мониторе, искажение изображения</li>
            <li class="popular-item__item">Синий «экран смерти» после установки драйверов</li>
            <li class="popular-item__item">Код 43 ошибка в диспетчере задач Отсутствие дискретной видеокарты в
              диспетчере устройств</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправность блока питания<br>компьютера/ноутбука</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Останавливается загрузка</li>
            <li class="popular-item__item">Компьютер не включается кнопкой (питание не подается на плату, а также
              вентиляторы)</li>
            <li class="popular-item__item">Нет загрузки с жесткого диска</li>
            <li class="popular-item__item">Циклически перезагружается</li>
            <li class="popular-item__item">При включении диагностируется ошибка</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Проблема с сетью</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер может зависать при загрузке Windows</li>
            <li class="popular-item__item">Компьютер не загружается</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Перегрев компьютера</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Поломка крепления кулера, которая приводит к воздушному зазору и уменьшению
              теплоотвода</li>
            <li class="popular-item__item">Износ и загрязнение подшипника вентилятора, который при этом гудит или
              вибрирует</li>
            <li class="popular-item__item">Загрязнение радиатора вентилятора</li>
            <li class="popular-item__item">Неправильная настройка БИОСа.</li>
          </ul>
        </div>
      </div>

      <div class="swiper-pagination popular-pagination"></div>
    </div>
    <div class="swiper popular__slider popular__slider--pc" data-type="program">
      <div class="swiper-wrapper popular__wrapper">
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Компьютер/ноутбук<br>тормозит</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Обновление Windows криво легли</li>
            <li class="popular-item__item">Вирусы попали в систему компьютера</li>
            <li class="popular-item__item">Жесткий диск перестал правильно функционировать</li>
            <li class="popular-item__item">Повреждены корневые папки Windows</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Принтер не печатает с<br>компьютера/ноутбука</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Проблема с диспетчером печати</li>
            <li class="popular-item__item">Поломка принтера</li>
            <li class="popular-item__item">Плохой кабель USB, неправильный</li>
            <li class="popular-item__item">Испорченный драйвер</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Компьютер/ноутбук не открывает браузер интернета</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Вам на компьютер попал шифроватор, который сломал программы</li>
            <li class="popular-item__item">Попали вирусы на компьютер</li>
            <li class="popular-item__item">Давно не обновлялся Windows</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправности ОС и<br>приложений</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">При загрузке ноутбук зависает</li>
            <li class="popular-item__item">Самопроизвольно перезагружается Windows</li>
            <li class="popular-item__item">Аварийное завершение работы</li>
            <li class="popular-item__item">Часто выскакивает «синий экран смерти»</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Дополнительные частые неисправности</h3>
          <h4 class="popular-item__title">Признаки:</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Неисправности драйверов</li>
            <li class="popular-item__item">Конфликтующие программы</li>
            <li class="popular-item__item">Вредоносные программы</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item popular-item--empty">
        </div>
      </div>

      <div class="swiper-pagination popular-pagination"></div>
    </div>
  </div>
</section>