<section class="popular">
  <h2 class="visually-hidden">Title Поломки</h2>
  <div class="line" data-aos="custom-fade-up">
    <span>Популярные&nbsp;неисправности&nbsp;компьютеров</span>
    <span>Популярные&nbsp;неисправности&nbsp;компьютеров</span>
  </div>
  <div class="container">
    <div class="popular__buttons">
      <button class="btn-reset btn popular__btn"><span>Аппаратные неисправности компьютера</span></button>
      <button class="btn-reset btn popular__btn"><span>Программные неисправности компьютера</span></button>
    </div>
    <div class="swiper popular__slider popular__slider--pc">
      <div class="swiper-wrapper popular__wrapper">
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправность процессора</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер перезагружается циклически</li>
            <li class="popular-item__item">Не стартует материнская плата</li>
            <li class="popular-item__item">Нет загрузки с жесткого диска</li>
            <li class="popular-item__item">Не устанавливается, а также не загружается Windows</li>
            <li class="popular-item__item">Иногда программы работают с ошибками</li>
            <li class="popular-item__item">Сильно греется процессор, а также детали его питания на материнской плате
            </li>
            <li class="popular-item__item">Проблемы с памятью, если контроллер памяти в процессоре</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Не работает память компьютера</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер не загружается</li>
            <li class="popular-item__item">Происходят периодические сбои, сопровождающиеся синим «экраном смерти» в
              Windows и приложениях</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular__item--through popular-item">
          <h3 class="popular-item__subtitle">Неисправности материнской платы компьютера</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер совсем не включается, либо включается, но не загружается</li>
            <li class="popular-item__item">Не работают USB, звуковая карта, а также USB клавиатура и мышь</li>
            <li class="popular-item__item">Процессор холодный</li>
            <li class="popular-item__item">Не загружается или не устанавливается Windows, перегревается процессор</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Проблемы жесткого диска</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Не раскручивается, не обнаруживается в BIOS</li>
            <li class="popular-item__item">Не загружается Windows, системный блок циклически перезагружается, зависает,
              тормозит</li>
            <li class="popular-item__item">Регулярные ошибки и аварийные завершения программ</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Плохой SATA кабель</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Нарушение контакта между площадками SATA разъема и шинами</li>
            <li class="popular-item__item">Нарушение контакта между площадками двух разъемов SATA</li>
            <li class="popular-item__item">Отвал пайки экранирующей оплетки от земли</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправность видеокарты</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Мусор, а также артефакты на экране монитора, часто еще до загрузки Windows;
            </li>
            <li class="popular-item__item">Нет характерного звукового сигнала при загрузке</li>
            <li class="popular-item__item">Вылетают 3D игры</li>
            <li class="popular-item__item">Слетает драйвер видеоадаптера и не устанавливается, не работают игры,
              «вылетает» тест 3DMARK</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Неисправность блока питания компьютера</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Останавливается загрузка</li>
            <li class="popular-item__item">Компьютер не включается кнопкой (питание не подается на плату, а также
              вентиляторы)</li>
            <li class="popular-item__item">Нет загрузки с жесткого диска</li>
            <li class="popular-item__item">Циклически перезагружается</li>
            <li class="popular-item__item">При включении диагностируется ошибка</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Проблема с сетью</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Компьютер может зависать при загрузке Windows</li>
            <li class="popular-item__item">Компьютер не загружается</li>
          </ul>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <h3 class="popular-item__subtitle">Перегрев компьютера</h3>
          <h4 class="popular-item__title">Признаки</h4>
          <ul class="popular-item__list list-reset">
            <li class="popular-item__item">Поломка крепления кулера, которая приводит воздушному зазору и уменьшению
              теплоотвода</li>
            <li class="popular-item__item">Износ и загрязнение подшипника вентилятора, который при этом гудит или
              вибрирует</li>
            <li class="popular-item__item">Загрязнение радиатора вентилятора</li>
            <li class="popular-item__item">Неправильная настройка БИОСа.</li>
          </ul>
        </div>
      </div>

      <div class="swiper-pagination popular-pagination"></div>
    </div>
  </div>
</section>