<section class="price">
  <div class="line" data-aos="custom-fade-up">
    <span>Прайс-Лист</span>
    <span>Прайс-Лист</span>
    <span>Прайс-Лист</span>
    <span>Прайс-Лист</span>
    <span>Прайс-Лист</span>
    <span>Прайс-Лист</span>
  </div>
  <div class="container">
    <div class="price-list__wrapper">
      <table class="price-list">
        <tr>
          <th class="price-list__title">Прайс по ноутбукам/пк</th>
        </tr>
        <tr>
          <td class="price-list__name">Разборка / сборка ноутбука</td>
          <td class="price-list__price">от 1500</td>
        </tr>
        <tr>
          <td class="price-list__name">Обслуживание системы охлаждения</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена или установка модуля WiFi</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена или установка модуля WiFi</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Ремонт корпуса</td>
          <td class="price-list__price">от 3000</td>
        </tr>
        <tr>
          <td class="price-list__name">Ремонт системной платы. Цепи питания</td>
          <td class="price-list__price">от 3500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена звуковой карты</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена звуковой карты</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена оперативной памяти</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена жесткого диска</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Установка ОС Windows</td>
          <td class="price-list__price">2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Клонирование ОС</td>
          <td class="price-list__price">3500</td>
        </tr>
        <tr>
          <td class="price-list__name">Установка BGA микросхемы на материнскую плату на паяльной станции</td>
          <td class="price-list__price">от 5000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена Северного/Южного моста , Хаба</td>
          <td class="price-list__price">от 7500</td>
        </tr>
        <tr>
          <td class="price-list__name">Разборка / сборка моноблока</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена съемного разъема питания (с кабелем) на ноутбуке</td>
          <td class="price-list__price">от 3000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена или установка модуля WiFi</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена клавиатуры</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена или установка модуля WiFi</td>
          <td class="price-list__price">от 500</td>
        </tr>
        <tr>
          <td class="price-list__name">Ремонт системной платы. Разъемы</td>
          <td class="price-list__price">от 4900</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена аккумулятора</td>
          <td class="price-list__price">от 3000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена тачпада</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена вентилятора (кулера)</td>
          <td class="price-list__price">от 2000</td>
        </tr>
      </table>
      <button class="price-list__more btn-reset"></button>
    </div>
    <div class="price-list__wrapper">
      <table class="price-list">
        <tr>
          <th class="price-list__title">Прайс по мобильным телефонам</th>
        </tr>
        <tr>
          <td class="price-list__name">Замена дисплейного модуля LCD/IPS</td>
          <td class="price-list__price">2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена дисплейного модуля Oled/Amoled</td>
          <td class="price-list__price">от 3500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена задней крышки пластик/стекло</td>
          <td class="price-list__price">800/2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена разъема зарядки Micro USB</td>
          <td class="price-list__price">1500</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена резьма зарядки Type-C</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена шлейфа зарядки на iPhone</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена контроллера питания</td>
          <td class="price-list__price">от 3000</td>
        </tr>
        <tr>
          <td class="price-list__name">Замена коннектора на плате</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Реболл Процессора, ОЗУ, Флеш памяти</td>
          <td class="price-list__price">от 5000</td>
        </tr>
        <tr>
          <td class="price-list__name">Сброс/Удаление Аккаунта FRP/Google</td>
          <td class="price-list__price">от 2000</td>
        </tr>
        <tr>
          <td class="price-list__name">Чистка и восстановление платы после попадания жидкости</td>
          <td class="price-list__price">от 3000</td>
        </tr>
      </table>
      <button class="price-list__more btn-reset"></button>
    </div>
  </div>
</section>