<section class="problems">
  <div class="line" data-aos="custom-fade-up">
    <span>Что случилось с Вашим компьютером ?</span>
    <span>Что случилось с Вашим компьютером ?</span>
  </div>
  <div class="container">
    <div class="problems__items">
      <div class="problems__col">
        <article class="problems__item problems-item" data-prob="lags" data-aos="custom-fade-up" data-aos-delay="200">
          <div class="problems-item__header">
            <div class="problems-item__icon">
              <svg class="nofill">
                <use xlink:href="img/sprite.svg#lags-icon"></use>
              </svg>
            </div>
            <button class="btn-reset problems-item__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-up-right"></use>
              </svg>
            </button>
          </div>
          <h3 class="problems-item__title">Компьютер сильно тормозит</h3>
        </article>
        <article class="problems__item problems-item" data-prob="pic" data-aos="custom-fade-up" data-aos-delay="400">
          <div class="problems-item__header">
            <div class="problems-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#pic-icon"></use>
              </svg>
            </div>
            <button class="btn-reset problems-item__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-up-right"></use>
              </svg>
            </button>
          </div>
          <h3 class="problems-item__title">Неполадки с изображением</h3>
        </article>
        <article class="problems__item problems-item" data-prob="internet" data-aos="custom-fade-up"
          data-aos-delay="600">
          <div class="problems-item__header">
            <div class="problems-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#internet-icon"></use>
              </svg>
            </div>
            <button class="btn-reset problems-item__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-up-right"></use>
              </svg>
            </button>
          </div>
          <h3 class="problems-item__title">Не работает подключение к Интернету</h3>
        </article>
      </div>
      <div class="problems__sol">
        <article class="problems-item__content problems-content" data-prob="lags">
          <h4 class="problems-content__title">
            Порвался один из проводов компьютера
          </h4>
          <ul class="list-reset problems-content__list">
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Порван, погрызен питомцем или поврежден дверью! Поможет замена неисправного кабеля. Всегда в наличии!
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#time-icon"></use>
              </svg>
              Время устранения - <span>до 2 мин</span>
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#pay-icon"></use>
              </svg>
              Стоимость - <span>от 200 руб</span>
            </li>
          </ul>
          <button class="btn-reset btn problems-content__btn" data-modal-btn>Заказать диагностику</button>
        </article>
        <article class="problems-item__content problems-content" data-prob="pic">
          <h4 class="problems-content__title">
            Порвался один из проводов компьютера
          </h4>
          <ul class="list-reset problems-content__list">
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Порван, погрызен питомцем или поврежден дверью! Поможет замена неисправного кабеля. Всегда в наличии!
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Время устранения - <span>до 2 мин</span>
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Стоимость - <span>от 200 руб</span>
            </li>
          </ul>
          <button class="btn-reset btn problems-content__btn" data-modal-btn>Заказать диагностику</button>
        </article>
        <article class="problems-item__content problems-content" data-prob="internet">
          <h4 class="problems-content__title">
            Порвался один из проводов компьютера
          </h4>
          <ul class="list-reset problems-content__list">
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Порван, погрызен питомцем или поврежден дверью! Поможет замена неисправного кабеля. Всегда в наличии!
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Время устранения - <span>до 2 мин</span>
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Стоимость - <span>от 200 руб</span>
            </li>
          </ul>
          <button class="btn-reset btn problems-content__btn" data-modal-btn>Заказать диагностику</button>
        </article>
      </div>
      <div class="problems__col">
        <article class="problems__item problems-item" data-prob="turn" data-aos="custom-fade-up" data-aos-delay="200">
          <div class="problems-item__header">
            <div class="problems-item__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#turn-icon"></use>
              </svg>
            </div>
            <button class="btn-reset problems-item__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-up-right"></use>
              </svg>
            </button>
          </div>
          <h3 class="problems-item__title">Не включается совсем</h3>
        </article>

        <article class="problems__item problems-item" data-prob="water" data-aos="custom-fade-up" data-aos-delay="400">
          <div class="problems-item__header">
            <div class="problems-item__icon">
              <svg class="nofill">
                <use xlink:href="img/sprite.svg#water-icon"></use>
              </svg>
            </div>
            <button class="btn-reset problems-item__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-up-right"></use>
              </svg>
            </button>
          </div>
          <h3 class="problems-item__title">На компьютер, ноутбук пролили воду</h3>
        </article>

        <article class="problems__item problems-item" data-prob="hot" data-aos="custom-fade-up" data-aos-delay="600">
          <div class="problems-item__header">
            <div class="problems-item__icon">
              <svg class="nofill">
                <use xlink:href="img/sprite.svg#hot-icon"></use>
              </svg>
            </div>
            <button class="btn-reset problems-item__btn">
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-up-right"></use>
              </svg>
            </button>
          </div>
          <h3 class="problems-item__title">Компьютер нагревается/перегревается</h3>
        </article>
      </div>
      <div class="problems__sol">
        <article class="problems-item__content problems-content" data-prob="turn">
          <h4 class="problems-content__title">
            Порвался один из проводов компьютера
          </h4>
          <ul class="list-reset problems-content__list">
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Порван, погрызен питомцем или поврежден дверью! Поможет замена неисправного кабеля. Всегда в наличии!
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Время устранения - <span>до 2 мин</span>
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Стоимость - <span>от 200 руб</span>
            </li>
          </ul>
          <button class="btn-reset btn problems-content__btn" data-modal-btn>Заказать диагностику</button>
        </article>
        <article class="problems-item__content problems-content" data-prob="water">
          <h4 class="problems-content__title">
            Порвался один из проводов компьютера
          </h4>
          <ul class="list-reset problems-content__list">
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Порван, погрызен питомцем или поврежден дверью! Поможет замена неисправного кабеля. Всегда в наличии!
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Время устранения - <span>до 2 мин</span>
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Стоимость - <span>от 200 руб</span>
            </li>
          </ul>
          <button class="btn-reset btn problems-content__btn" data-modal-btn>Заказать диагностику</button>
        </article>
        <article class="problems-item__content problems-content " data-prob="hot">
          <h4 class="problems-content__title">
            Порвался один из проводов компьютера
          </h4>
          <ul class="list-reset problems-content__list">
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Порван, погрызен питомцем или поврежден дверью! Поможет замена неисправного кабеля. Всегда в наличии!
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Время устранения - <span>до 2 мин</span>
            </li>
            <li class="problems-content__item">
              <svg>
                <use xlink:href="img/sprite.svg#info-icon"></use>
              </svg>
              Стоимость - <span>от 200 руб</span>
            </li>
          </ul>
          <button class="btn-reset btn problems-content__btn" data-modal-btn>Заказать диагностику</button>
        </article>
      </div>



    </div>
  </div>
</section>