<section class="service">
  <div class="line" data-aos="custom-fade-up">
    <span>услуги</span>
    <span>услуги</span>
    <span>услуги</span>
    <span>услуги</span>
    <span>услуги</span>
    <span>услуги</span>
    <span>услуги</span>
  </div>
  <div class="container">
    <div class="service__buttons">
      <button class="service__btn btn btn-reset" data-modal-btn><span>Ремонт компьютеров</span></button>
      <button class="service__btn btn btn-reset" data-modal-btn><span>Ремонт ноутбуков</span></button>
      <button class="service__btn btn btn-reset" data-modal-btn><span>Другие услуги</span></button>
    </div>
  </div>
  <div class="service__container">
    <div class="service__image">
      <picture>
        <source srcset="./img/service/pc-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/service/pc.webp">
        <img src="./img/service/pc.jpg" srcset="./img/service/pc-2x.jpg 2x" alt="PC">
      </picture>
    </div>
    <div class="service__slider swiper">
      <div class="swiper-wrapper service__items">
        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Настройка<br>компьютера</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Сборка ПК под индивидуальные требованиа</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Модернизация или замена ключевых элементов ПК</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Чистка ПК от пыли</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Замена<br>термопасты</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Ремонт материнской платы</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Замена жесткого диска</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="service__item service-item">
            <h3>Ремонт блока питания</h3>
            <button class="btn-reset service-item__btn btn" data-modal-btn><span>Заказать Услугу</span></button>
          </article>
        </div>
      </div>
      <div class="swiper-pagination service-pagination"></div>
    </div>
  </div>
</section>